@import '../variables';

.body {
    height: calc(100vh - 100px);
    background-color: $primary-body-color;
    @include flex-container;
    justify-content: space-evenly;
}

.box {
    height: 100px;
    width: 100px;
    background-color: $primary-header-color;
    border: 1px solid black;
}